body {
    background-color: rgb(143, 143, 233);
    color: white;
}

p{
    font-size: 30px;
    font-size: bold;
}

button{
    background-color: aquamarine;
    color: white;
    width: 100px;
    position: absolute;
}

.hidden {
    display: none;
}

#move{
    left: 200px;
}

#change:hover {
cursor: pointer;
}
