body{
    background-color: rgb(178, 120, 233);

}
h1{
    font-size: 150px;
    color: aliceblue;
    border: dashed rgb(15, 168, 179);
}

.amarelo{
    font-size: 50px;
    color: black;
}